version: 2.1

executors:
  ruby:
    docker:
      - image: cimg/ruby:2.7.2

commands:
  bundle_install:
    description: Install Ruby dependencies with Bundler
    steps:
      - restore_cache:
          keys:
            - bundle-v1-ruby2.7.2-{{ arch }}
      - run:
          name: Install Ruby Dependencies
          command: |
            gem install bundler -v 2.1.4 --conservative --no-document
            bundle config --local path vendor/bundle
            bundle check || (bundle install --jobs=4 --retry=3 && bundle clean)
      - save_cache:
          paths:
            - ./vendor/bundle
          key: bundle-v1-ruby2.7.2-{{ arch }}-{{ checksum "Gemfile.lock" }}

jobs:
  rubocop:
    executor: ruby
    steps:
      - checkout
      - bundle_install
      - run: bundle exec rubocop
  test:
    executor: ruby
    steps:
      - checkout
      - bundle_install
      - run: bundle exec rake test TESTOPTS="--ci-dir=./reports"
      - store_test_results:
          path: ./reports

workflows:
  version: 2
  commit-workflow:
    jobs:
      - rubocop
      - test
  cron-workflow:
    jobs:
      - rubocop
      - test
    triggers:
      - schedule:
          cron: "0 13 * * 6"
          filters:
            branches:
              only:
                - main
